.env
.venv
.python-version
=0.3.1
=4.45.0
qdrant_storage
src/rag/utils/__pycache__
src/rag/__pycache__
src/rag/vectordb/__pycache__
src/medrag_colpali.egg-info
src/rag/embedders/__pycache__
notebooks/small_test.ipynb